<!DOCTYPE html>
<html>
	<head>
		<title>TicTacToe</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/stylesheets/gp.css">
	</head>
<body>

<div class="container">
<header><h1>TIC TAC TOE <span id="bottom">
	<a class="btn btn-default btn-lg" href="/" role="button"><i class="fas fa-rocket"></i> GO TO HOMEPAGE !</a>
	<button class="btn btn-default btn-lg reset" type="button">RESET</button>	
	</span> </h1>
	
	</header>
	<h1 id="result"></h1>
	<section id="game">
		<div id="tic">
		<canvas id="canvas1" width="100" height="100"></canvas>	
		<canvas id="canvas2" width="100" height="100"></canvas>	
		<canvas id="canvas3" width="100" height="100"></canvas>	<br/>
		<canvas id="canvas4" width="100" height="100"></canvas>	
		<canvas id="canvas5" width="100" height="100"></canvas>	
		<canvas id="canvas6" width="100" height="100"></canvas>	<br/>
		<canvas id="canvas7" width="100" height="100"></canvas>	
		<canvas id="canvas8" width="100" height="100"></canvas>	
		<canvas id="canvas9" width="100" height="100"></canvas>	<br/>
    	</div>
	    <div id="playerdetails">
			<ul style="list-style-type:none;">
			<li><button class="btn btn-default player active" type="button">AI</button></li>
			<li><button class="btn btn-default player" type="button">HUMAN</button></li>
			<li><button class="btn btn-default start" type="button">NEW GAME</button></li>
			</ul>
		</div>
		<div id="algorithms">
			<ul style="list-style-type:none;">
			<li><button class="btn btn-default algo active" type="button">MINIMAX</button></li>
			<li><button class="btn btn-default algo" type="button">NEGAMAX</button></li>
			<li><button class="btn btn-default algo" type="button">SSS*</button></li>
			</ul>
		</div>
	</section>
	
</div>
	<script type="text/javascript" src="/minimax.js"></script>
    <script type="text/javascript" src="/game.js"></script>
  </body>
</html>