<!DOCTYPE html>
<html>
	<head>
		<title>TicTacToe</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/stylesheets/gp.css">
	</head>
<body>

<div class="container">
<h1>TIC TAC TOE</h1>
	<section id="game">
		<div id="tic">
		<canvas id="canvas1" width="100" height="100"></canvas>	
		<canvas id="canvas2" width="100" height="100"></canvas>	
		<canvas id="canvas3" width="100" height="100"></canvas>	<br/>
		<canvas id="canvas4" width="100" height="100"></canvas>	
		<canvas id="canvas5" width="100" height="100"></canvas>	
		<canvas id="canvas6" width="100" height="100"></canvas>	<br/>
		<canvas id="canvas7" width="100" height="100"></canvas>	
		<canvas id="canvas8" width="100" height="100"></canvas>	
		<canvas id="canvas9" width="100" height="100"></canvas>	<br/>
    	</div>
	    <div id="playerdetails">
			<ul style="list-style-type:none;">
			<li><button class="btn btn-default player" type="button">AI</button></li>
			<li><button class="btn btn-default player" type="button">HUMAN</button></li>
			</ul>
		</div>
		<div id="algorithms">
			<ul style="list-style-type:none;">
			<li><button class="btn btn-default player" type="button">MINIMAX</button></li>
			<li><button class="btn btn-default player" type="button">NEGAMAX</button></li>
			<li><button class="btn btn-default player" type="button">SSS*</button></li>
			</ul>
		</div>
	</section>
<a href="/">GO BACK TO HOME</a>
</div>
   <script type="text/javascript" src="/game.js"></script>
  </body>
</html>