<!DOCTYPE html>
<html>
	<head>
		<title>TicTacToe</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/1c38efe45e.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="/stylesheets/gp.css">
	</head>
<body>

<div class="container">
<header><h1>TIC TAC TOE <span id="bottom">
	<a class="btn btn-default btn-lg" href="/" role="button"><i class="fas fa-rocket"></i> GO TO HOMEPAGE !</a>
	<button class="btn btn-default btn-lg reset" type="button">NEW GAME</button>	
	</span> </h1>
	
	</header>
	<h1 id="result"></h1>
	<section id="game">
		<div id="tic2">
		<canvas id="canvas1" width="100" height="100"></canvas>	
		<canvas id="canvas2" width="100" height="100"></canvas>	
		<canvas id="canvas3" width="100" height="100"></canvas>	<br/>
		<canvas id="canvas4" width="100" height="100"></canvas>	
		<canvas id="canvas5" width="100" height="100"></canvas>	
		<canvas id="canvas6" width="100" height="100"></canvas>	<br/>
		<canvas id="canvas7" width="100" height="100"></canvas>	
		<canvas id="canvas8" width="100" height="100"></canvas>	
		<canvas id="canvas9" width="100" height="100"></canvas>	<br/>
    	</div>
		<div id="tic3">
			<canvas id="block00" width="100" height="100"></canvas>	
		    <canvas id="block01" width="100" height="100"></canvas>	
		    <canvas id="block02" width="100" height="100"></canvas>	
		    <canvas id="block03" width="100" height="100"></canvas>	<br/>
		    <canvas id="block10" width="100" height="100"></canvas>	
		    <canvas id="block11" width="100" height="100"></canvas>	
		    <canvas id="block12" width="100" height="100"></canvas>	
		    <canvas id="block13" width="100" height="100"></canvas>	<br/>
		    <canvas id="block20" width="100" height="100"></canvas>	
		    <canvas id="block21" width="100" height="100"></canvas>	
		    <canvas id="block22" width="100" height="100"></canvas>	
		    <canvas id="block23" width="100" height="100"></canvas>	<br/>
			<canvas id="block30" width="100" height="100"></canvas>	
		    <canvas id="block31" width="100" height="100"></canvas>	
		    <canvas id="block32" width="100" height="100"></canvas>	
		    <canvas id="block33" width="100" height="100"></canvas> <br/>
		</div>
		<div id="hint">
			<button class="btn btn-default btn-sm tichint" type="button"><i class="fa fa-lightbulb" aria-hidden="true"></i></button>
		</div>
		
		
	    <div id="instruction2">	
			<div id="clock"><h3>TIK TIK: <span id="countdown"></span></h3><hr></div>
			<h2>INSTRUCTIONS</h2>
			<p>TWO PLAYER GAME</p>
			<p>EACH PLAYER SHOULD TAKE TURNS</p>
			<p>PLAYER WHO IS FIRST TO FILL 3 CONSECUTIVE BOXES IN A ROW/ COLOUMN/ DIAGONAL WINS</p>
			<p>PRESS NEW GAME TO START A FRESH GAME AT ANY POINT</p>
		</div>
		<div id="instruction3">
			<h2>INSTRUCTIONS</h2>
			<p>THREE PLAYER GAME</p>
			<p>EACH PLAYER SHOULD TAKE TURNS</p>
			<p>PLAYER WHO IS FIRST TO FILL 3 BOXES IN A ROW/COLOUMN OR 4 CONSECUTIVE BOXES IN A DIAGONAL WINS</p>
			<p>PRESS NEW GAME TO START A FRESH GAME AT ANY POINT</p>
		</div>
		
	</section>
	
</div>
	 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/minimax.js"></script>
    <script type="text/javascript" src="/game.js"></script>
	<script type="text/javascript" src="/3player.js"></script>
  </body>
</html>