<!DOCTYPE html>
<html>
	<head>
		<title>TicTacToe</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/hp.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	</head>
<body>
<div class="container-fluid">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>TIC TAC TOE</h1>
 				<h3>Time To Show The Power Of Humans!</h3>
 				<hr>
 				<p>
					<h4>CHOOSE TARGET!</h4>
					<input class="btn btn-default" type="button" value="EARTH">
					<input class="btn btn-default" type="button" value="ISS">
					<input class="btn btn-default" type="button" value="MOON">
					<input class="btn btn-default" type="button" value="MARS">
				</p>
				<hr>
				<p>
					<h4>CHOOSE WHO DO YOU WANT TO PLAY WITH!</h4>
					<input class="btn btn-default" type="button" value="AN AI!">
					<input class="btn btn-default" type="button" value="YOUR CREW MEMBERS!">
					<input class="btn btn-default" type="button" value="ALIENS!">
				</p>            
		        <hr>
				<a class="btn btn-default" href="/gameboard" role="button">START GAME !</a>
 			</div>
 		</div>
 	</div>
 </div>
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>